@charset "UTF-8";


/*
Paleta de cores 
#1d1e18
#d39c4d
#768948
#607744
#e8d7ff
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

body, html{
    background-color:#1d1e18;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}


section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color:rgba(255, 255, 255, 0.507);
    width: 250px;
    height: 560px;
    border-radius: 25px;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.432);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    background: #607744 url(../imagens/pexels-vitaly-gorbachev-15974646\ \(1\).jpg) no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario{
    display: block;
    padding: 15px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 15px;
}

div#formulario > p {
    font-size: 0.8em;
}


form > div.campo{
    background-color: #77572a;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    margin: 5px 0px;
}
div.campo > label{
    display: none;
}


form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#77572a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color:#302311 ;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color:#8d6731 ;
    color: #e0a859;
    border: 1px solid #302311;
    border-radius: 4px;
    text-decoration: none;

}

form > a.botao > i {
    font-size: 0.8,
}

form > a.botao:hover{
    background-color: #302311;
}